.job__search--wrapper {
    display: flex;
    flex-wrap: wrap;
    .jobs__list--wrapper {
        width: 70%;
        margin: 0px;
        @include mq('tablet'){
            width: 100%;

        }
    }
    .side__list--wrapper {
        width: 30%;
        @include mq('tablet'){
            width: 100%;

        }
    }
}
